body {
    background-color: #171616;
    color: white;
}

/* header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
    color: white;
}

.nav a {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.title * {
    color: white;
}

.title p {
    font-style: verdana;
}

/* min footer */

.footer a {
    color: white;
    text-decoration: none;
}

.fa {
    font-size: 5em;
}
