body {
    margin: 1%;
    // background-color: #1c2727;
    background-color: $bakgrund-forsta;
}

.site-header {
    margin: 1%;
}

.header {
    background-color: $bakgrund-andra;
}

.wrap {
    display: flex;
    column-gap: 1%;
    background-color: $bakgrund-andra;
}

.google {
    border: 3px solid $border;
    width: 50%;
}

.teknik {
    border: 3px solid $border;
    width: 50%;
}

.footer {
    background-color: $bakgrund-andra;
}

@media (max-width: 767px) {

    .header {
        flex-direction: column;
        font-size: 100%;
        line-height: 0.5em;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 0.5rem;
        line-height: 0.5em;
        text-align: center;
        cursor: pointer;
    }

    .wrap {
        display: block;
    }

    .google,
    .teknik {
        width: 100%;
        margin-top: 5%;
    }
}
