$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #1c2727;
$background-alternative-color: #e0fbfc;

$bakgrund-forsta: #2a4b4b;
$bakgrund-andra: #243637;
$border: #2e695c;
